<form class="form-horizontal" role="form">
  <%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :user_id, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.number_field :user_id, class: "form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :challenge_id, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.number_field :challenge_id, class: "form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :comment, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :comment, class: "form-control" %>
      </div>
    </div>
    <div class="actions col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  <% end %>
</form>
