<p id="notice"><%= notice %></p>

<h1>Listing Vote Challenges</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Challenge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vote_challenges.each do |vote_challenge| %>
      <tr>
        <td><%= vote_challenge.user_id %></td>
        <td><%= vote_challenge.challenge_id %></td>
        <td><%= link_to 'Show', vote_challenge %></td>
        <td><%= link_to 'Edit', edit_vote_challenge_path(vote_challenge) %></td>
        <td><%= link_to 'Destroy', vote_challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote challenge', new_vote_challenge_path %>
