// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin info{
  border-radius: 3px 3px;
 /** background: lighten(invert($bgcolor), 20%); **/
    background: white;
}
.chlng_info{
  margin: 12px;
  padding: 5px 15px 5px;
  @include info;
}

.chlng_info_lg{
  margin: 20px;
  padding: 15px 15px 15px;
  @include info;
}
