// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-spacing1{
	
	padding-top: 90px;
	padding-bottom:90px;
	
	
}
.container-spacing2{
	
	padding-top: 150px;
	padding-bottom:150px;
}

.container-spacing3{
	
	padding-top: 5px;
	padding-bottom:5px;
	width: 1100px;
}

.bg-1{
	
	background-color: #ffffff;
	color:#555555;
}
.bg-2{
	
	background-color: #87E6BA;
	
}
.bg-3{
	
	background-color: #87E6BA;
	
}


h1.intro{
	
	font-size: 300%;
	font-family: 'Raleway', sans-serif;
}
h2.second{
	
	
	font-size: 240%;
	font-family: 'Raleway', sans-serif;
}


