<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "Yakyik | #{@page_title} " : "Yakyik" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render '/layouts/shim' %>


</head>
<body>
	
  <div class="site-header">
    <%= render '/layouts/navbar' %>
    <%= render '/layouts/header' %>
    <div class="site-wrapper">
		
		 	
	  <%= yield %>
    </div>
 </div>

    <%= render '/layouts/footer' %>

</body>
</html>
